<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Hello World, AngularJS </title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="EmailController.js" ></script>
</head>
<body>
<div ng-controller="EmailController">
    Email:<input type="text" ng-model="newcontact"/>
    <button ng-click="add()">Add</button>
    <h2>Contacts</h2>

    <ul>
        <li ng-repeat="contact in contacts"> {{ contact }} </li>
    </ul>

</div>

</body>
</html>